button {
  appearance: none;
  padding: .3em .75em .45em;
  font-size: 1rem;
  border: 0;
  border-radius: .125em;
  color: $cl-white;
  background-color: $cl-primary;
  outline-width: 0;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms;

  &:hover,
  &:focus {
    background-color: lighten($cl-primary, 10%);
  }

  &:active {
    background-color: darken($cl-primary, 10%);
  }

  @include bp(small) {
		padding: .15em 1em .25em;
	}
}
