.overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  padding: 1rem;
	background: $cl-bg;
	background-image: radial-gradient(lighten($cl-bg, 10%), $cl-bg);
	transition-property: transform, opacity, visibility;
  transition-duration: 300ms;

  .is-loading & {
    > * {
      opacity: 0;
    }
  }

  > * {
    transition: opacity 200ms;
  }

	h1 {
    font-size: 3rem;

    @include bp(small) {
      font-size: 2rem;
    }
	}

	h2 {
    margin-bottom: 3rem;

    @include bp(small) {
      font-size: 1.25rem;
    }
	}

	&.is-closed {
		transform: scale(1.5);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
  }

  &.is-loading {
    pointer-events: none;

    > * {
      opacity: .25;
    }

    &::after {
      content: '';
      position: absolute;
      left: calc(50% - .5rem);
      height: calc(50% - .5rem);
      width: 1rem;
      height: 1rem;
      background-image: url('../assets/img/circle.svg');
      background-position: 50%;
      background-size: 1rem;
      background-repeat: no-repeat;
      animation: loading 500ms ease-in-out infinite alternate-reverse;
    }
  }
}

.overlay__button {
	font-size: 2rem;
	line-height: 2rem;

  @include bp(small) {
    font-size: 1rem;
  }
}

.overlay__input {
	width: 15rem;
	margin-right: 1rem;
	font-size: 2rem;
  line-height: 2rem;

  @include bp(small) {
    width: 10rem;
    font-size: 1rem;
    margin-right: .75rem;
  }
}

.overlay__button-separator {
	font-size: 2rem;
	margin: 1rem 0 1.35rem;
  color: darken($cl-fg, 20%);

  @include bp(small) {
    font-size: 1.25rem;
  }
}

.overlay__join-holder {
	display: flex;
	align-items: center;
}

.button--video-id {
  transition: opacity 200ms;
}

.input--video-id:not(:valid) {
  + button {
    opacity: 0.5;
  }
}

.button--join {
  transition: opacity 200ms;
}

.input--join:not(:valid) {
  + button {
    opacity: 0.5;
  }
}

.overlay__response-message {
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms;

  &:not(:empty) {
    max-height: 1rem;
  }
}

@keyframes loading {
  0% {
    transform: translateX(2rem);
  }

  100% {
    transform: translateX(-2rem);
  }
}
