// Colors
$cl-white: #ffffff;
$cl-black: #000000;

$cl-primary: #c50d0d;
$cl-bg: #121212;
$cl-fg: #E2E2E2;
$cl-fg-secondary: #888888;

// Sizes
$sz-max-width: 60rem;

// Others
$st-shadow: 0 .5rem 1rem transparentize($cl-black, .5);
